:root {
  --primary: #f2ae30;
}

.vh-75 {
  height: 75vh;
}

.custom-navbar {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 75px;
}

.logo {
  width: 100px;
  height: auto;
}

.link-menu {
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  font-size: 1.25rem;
}

.link-menu:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.banner-home {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('./imagens/bg-banner-home.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.banner-home-content {
  width: 300px;
  font-family: 'Impact', sans-serif;
  color: #fff;

  span {
    color: var(--primary);
  }
}

.banner-orange {
  background-color: var(--primary);
}

.banner-joao {
  background-color: #fff;
}

.sobre-conteudo {
  max-width: 600px;
}

.sobre-bg {
  background: url('./imagens/joao.jpg') no-repeat center center;
  background-size: cover;
}

@media screen and (max-width: 992px) {
  .img-waves {
    display: none;
  }

  .banner-joao {
    flex-direction: column;
    height: fit-content !important;
  }

  .sobre-bg {
    height: 300px;
    background-attachment: fixed;
  }
  
}