:root {
  --primary: #f2ae30;
}

.vh-75 {
  height: 75vh;
}

.custom-navbar {
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 16px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 75px;
}

.logo {
  width: 100px;
  height: auto;
}

.link-menu {
  text-decoration: none;
  color: #fff;
  padding: 8px 16px;
  font-size: 1.25rem;
}

.link-menu:hover {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 30px;
  transition: background-color 0.3s ease;
}

.banner-home {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('./imagens/bg-banner-home.jpg') no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.banner-home-content {
  width: 300px;
  font-family: 'Impact', 'Cal Sans', sans-serif;
  color: #fff;

  span {
    color: var(--primary);
  }
}

.banner-orange {
  background-color: var(--primary);
}

.banner-joao {
  background-color: #fff;
}

.sobre-conteudo {
  max-width: 600px;
}

.sobre-conteudo p {
  font-size: 1.25rem;
}

.sobre-bg {
  background: url('./imagens/joao.jpg') no-repeat center center;
  background-size: cover;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.social-links {
  display: flex;

  gap: 20px;
}

.social-links a img {
  width: 30px;
  height: auto;
}

.carousel-inner {
  padding: 1em;
}
.card {
  margin: 0 0.5em;
  box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
  border: none;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #e1e1e1;
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}
@media (min-width: 768px) {
  .carousel-item {
    margin-right: 0;
    flex: 0 0 33.333333%;
    display: block;
  }
  .carousel-inner {
    display: flex;
  }
}
.card .img-wrapper {
    max-width: 100%;
    height: 13em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card img {
    max-height: 100%;
}
@media (max-width: 767px) {
  .card .img-wrapper {
    height: 17em;
  }
}

@media screen and (max-width: 992px) {
  .img-waves {
    display: none;
  }

  .banner-joao {
    flex-direction: column;
    height: fit-content !important;
  }

  .sobre-bg {
    height: 450px !important;
    background-attachment: fixed;
  }

  .sobre-conteudo {
    margin: auto;
    padding: 50px 0 !important;
  }
  
}