:root {
  --primary: #f2ae30;
}

.banner-home {
  background: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url('./imagens/bg-banner-home.jpg') no-repeat center center;
  background-size: cover;
  height: 75vh;
}

.banner-home-content {
  width: 300px;
  font-family: 'Impact', sans-serif;
  color: #fff;

  span {
    color: var(--primary);
  }
}